body {
    background-image:url(Skins/ultra-detailed-nebula-abstract-wallpaper-4.jpg) ;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: whitesmoke;
    transition: color 0.8s ease;
    font-weight: bold;
}

/*list styles*/

li.search {
    position: absolute;
    left: 84.330%;
    top: 2.600%;
   
    
}

li.about {
    position: absolute;
    left: 77.300%;
    top: 2.399%;
    font-size: 48px;
}

a.about:hover {
    color: aqua;
   
}

li.resources {
    position: absolute;
    left: 65.800%;
    top: 2.399%;
    font-size: 48px;
}

a.resources:hover {
    color: aqua;
   
}

li.home {
    position: absolute;
    left: 59.095%;
    top: 2.399%;
    font-size: 48px;
}

a.home:hover {
    color: aqua;
   
}

input {
    border-radius: 25px;
    height: 50px;
    width: 150%;
}

.line {
    rotate: 90deg;
    width: 52px;
    position: absolute;
    left: 75.400%;
    top: 43px;
}

.lines {
    rotate: 90deg;
    width: 52px;
    position: absolute;
    left: 64.100%;
    top: 43px;
}

.middle{
    overflow: hidden;
  
}

.logo-middle {
    left: 44.300%;
    top: 36%;
    position: absolute;
    transition: transform .5s ease-out;
    overflow: hidden;
}



.listed-button {
    position: absolute;
    left: 58%;
    top: 40%;
    display: none
    
}



.middle:hover .listed-button {
    font-style: italic;
    display: block;
    
}



.middle:hover .logo-middle {
    transform: translateX(-190%) rotate(45deg) ;
    overflow: hidden; 
}

