body {
    background-image:url(Skins/ultra-detailed-nebula-abstract-wallpaper-4.jpg) ;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/*list styles*/

li.search {
    position: absolute;
    left: 84.330%;
    top: 2.600%;
   
    
}

li.about {
    position: absolute;
    left: 77.300%;
    top: 2.399%;
    font-size: 48px;
}

.about:hover {
    text-decoration: bisque;
    text-decoration: underline;
}

li.resources {
    position: absolute;
    left: 65.800%;
    top: 2.399%;
    font-size: 48px;
}

li.home {
    position: absolute;
    left: 59.200%;
    top: 2.399%;
    font-size: 48px;
}

input {
    border-radius: 25px;
    height: 50px;
    width: 150%;
}

.line {
    rotate: 90deg;
    width: 52px;
    position: absolute;
    left: 75.400%;
    top: 43px;
}

.lines {
    rotate: 90deg;
    width: 52px;
    position: absolute;
    left: 64.100%;
    top: 43px;
}

 